@charset "UTF-8";

body{
    background-color: rgba(20, 158, 200, 0.315);
}

header {
    font: normal 15pt arial;
    background-color: rgba(255, 248, 220, 0.479);
    text-align: center;
    border-radius: 10px;
    padding: 5pt 5pt 5pt 5pt;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233)
}

nav{
    font: normal 10pt arial;
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    background-color: rgba(255, 248, 220, 0.739);
}

article > div {
    font: normal 15pt arial;
    text-align: center;
    padding: 5pt 5pt 5pt 5pt;
}

footer{
    font: normal 15pt arial;
    text-align: center;
    padding: 5pt 5pt 5pt 5pt;
}